@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin : 0;
}
body{
    font-family: "Inter", sans-serif;
}
.m-width{
    max-width: 80%;
    margin: 0 auto;
}

/* Header */
header{
    margin-top: 24px;
    margin-bottom: 24px;
}
nav{
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cmn-btn{
    padding: 12px 24px 12px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #1D4ED8;
    color: #ffffff;
}
.nav-links{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-left: 40px;
}
.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}


/* Banner  */
.banner-container{
    background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 80%), 
            url("./resources-DevConf-2026/assets/banner.jpg") center / cover no-repeat;

}
.banner-content{
    padding: 140px 300px;
    text-align: center;
}
.banner-title{
    color: white;
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 26px;
}
.banner-subtitle{
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
    
}
.banner-btn{
    margin-top:350px;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
}


/* Speakers */
.speakers{
    margin-top: 80px;
}
.speaker-title{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 70px;
}
.speakers-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 32px;
}
.speaker-card{
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}
.speaker-img{
    border-radius: 12px 12px 0px 0px;
}
.card-text{
    padding: 24px;
}
.speaker-expert{
    margin-bottom: 8px;
    color: #2563EB;
    font-size: 14px;
    font-weight: 600;
}
.speaker-name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.speaker-designation{
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

/* Spot / Membership */
.membership-container{
    max-width: 70%;
    margin: 0 auto;
}
.membership-top-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 12px;

}
.membership-subtitle{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color:#575757;
    margin-bottom: 48px;

}
.membership-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.membership-cards{
    background: white;
    padding: 32px;
    border: 1px solid #e5e7ebFF;
    border-radius: 12px;
}
.membership-card2{
    background-color: #0D1B2A;
    color: white;
}
.membership-card3{
    background: #f8f9fbFF;
}
.card-gray-text-top{
    color:#575757;
    font-size: 13;
    font-weight: 600;
}
.card-gray-text-bottom{
    color:#575757;
    font-size: 13;
    font-weight: 400;
    margin-bottom: 20px;
}
.member-blue-text{
    color:#93C5FD;
}
.member-text-half{
    opacity: 50%;
    font-size: 13;
    font-weight: 400;
    margin-bottom: 20px;
}
.membership-price{
    font-size: 44px;
    font-weight: 700;
}
.ul-list{
    padding: 15px;
}
.ul-list li::marker{
    color: #2563EB;
}
.ul-text{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}
.ul-text-80{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    opacity: 80%;
}
.member-btn1{
    color: #2563EB;
    background-color: white;
    border: 1px solid #2563EB;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}
.member-btn2{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}
.member-btn3{
    color: #0D1B2A;
    background-color: #f8f9fbFF;
    border: 1px solid #0D1B2A;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

/* Footer */
.footer {
    margin-top: 50px;
    background-color: #0D1B2A;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}
.footer-logo img {
  height: 50px;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-links a {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
}

.footer hr {
  margin: 1.5rem 0;
  border: none;
  border-top: 1px solid #ddd;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  padding-bottom: 10px;
}

